<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../templates/noindex'); %>
    <title>Sala Ón - Admin</title>
    <link rel="stylesheet" href="../css/admin.css" inline />
  </head>

  <body>
    <% var message; %>
    <%- include('../templates/admin-navigation'); %>
    <header class="header">
      <h1 class="header__title">Admin</h1>
      <% if (locals.success) { %>
      <h2 style="color: white">
        <%= success %>
      </h2>
      <% } %>
      <% if (message) { %>
        <h3 style="text-align: center; text-transform: uppercase; letter-spacing: 0.4rem; text-indent: 0.4rem;">
          <%= message %>
        </h3>
      <% } %>
    </header>
    <main class="alquiler u-footer-margin">
      <form
        class="form"
        id="form"
        method="post"
        action="/admin/events/<%= event._id %>"
        enctype="multipart/form-data"
        autocomplete="off"
        novalidate>

      <div class="form__group-container">

      <div class="form__group">
            <label for="shortDate" class="form__label">Id*</label>
            <input
              type="text"
              value="<%= event._id %>"
              name="id"
              id="id"
              class="form__input"
              readonly
              required>
        </div>
      </div>

        <div class="form__group-container">
          <div class="form__group">
            <label for="title" class="form__label">Título*</label>
            <input
              type="text"
              value="<%= event.title %>"
              name="title"
              id="title"
              class="form__input"
              maxlength="30"
              required>
          </div>

          <div class="form__group">
              <label for="shortDate" class="form__label">Fecha Corta*</label>
              <input
                type="text"
                value="<%= event.shortDate %>"
                name="shortDate"
                id="shortDate"
                class="form__input"
                maxlength="30"
                placeholder="06/06/2019 (20:30hs)"
                required>
          </div>

          <div class="form__group">
              <label for="longDate" class="form__label">Fecha Larga</label>
              <input
                type="text"
                value="<%= event.longDate %>"
                name="longDate"
                id="longDate"
                class="form__input"
                maxlength="30"
                placeholder="Viernes, 6 de Junio del 2019 (20:30hs)">
          </div>
        </div>
        <div class="form__group-container">
            <div class="form__group">
                <label for="type" class="form__label">Tipo*</label>
                <select name="type" id="type" required>
                  <option selected value="<%= event.type %>"><%= event.type %></option>
                  <option value="Teatro">Teatro</option>
                  <option value="Micro Teatro">Micro Teatro</option>
                  <option value="Concierto">Concierto</option>
                  <option value="Película">Película</option>
                  <option value="Curso">Curso</option>
                  <option value="Taller">Taller</option>
                </select>
              </div>
              <div class="form__group">
                <label for="action" class="form__label">Acción*</label>
                <select name="action" id="action" required>
                  <option selected value="<%= event.action %>"><%= event.action %></option>
                  <option value="Comprar">Comprar</option>
                  <option value="Contactar">Contactar</option>
                </select>
              </div>
    
              <div class="form__group">
                <label for="more" class="form__label">Más*</label>
                <select name="more" id="more" required>
                  <option selected value="<%= event.more %>"><%= event.more %></option>
                  <option value="Descripción">Descripción</option>
                  <option value="Sinopsis">Sinopsis</option>
                </select>
              </div>
        </div>

        <div class="form__group-container">
          <div class="form__group">
            <label for="poster" class="form__label">Poster</label>
            <img src="data:<%= event.poster.mimetype %>;base64,<%= event.poster.rawImage %>" alt="">
            <input
              type="file"
              name="poster"
              id="poster"
              class="form__input">
          </div>

          <div class="form__group">
              <label for="link" class="form__label">Link*</label>
              <input
              type="text"
              value="<%= event.link %>"
              name="link"
              id="link"
              class="form__input"
              placeholder="https://www.miwebsite.com/"
              required>
            </div>

          <div class="form__group">
            <label for="background" class="form__label">Fondo</label>
            <img src="data:<%= event.background.mimetype %>;base64,<%= event.background.rawImage %>" alt="">
            <input
              type="file"
              name="background"
              id="background"
              class="form__input">
          </div>
        </div>

        <div class="form__group-container">
          <div class="form__group">
            <label for="authors" class="form__label">Autores</label>
            <input
              type="text"
              value="<%= event.authors %>"
              name="authors"
              id="authors"
              class="form__input">
          </div>
          <div class="form__group">
            <label for="cast" class="form__label">Reparto</label>
            <input
              type="text"
              value="<%= event.cast %>"
              name="cast"
              id="cast"
              class="form__input">
          </div>
          <div class="form__group">
            <label for="directors" class="form__label">Directores</label>
            <input
              type="text"
              value="<%= event.directors %>"
              name="directors"
              id="directors"
              class="form__input">
          </div>
        </div>

        <div class="form__group-container">
          <div class="form__group">
            <label for="description" class="form__label--textarea">Descripción*</label>
            <textarea
              name="description"
              id="description"
              class="form__textarea"
              required><%= event.description %></textarea>
          </div>
        </div>

        <div class="form__group-container">
            <div class="form__group submit">
                <button type="submit" name="send" id="send" class="form__send">
                  Actualizar
                </button>
              </div>
        </div>
      </form>
    </main>
    <script src="../js/admin.bundle.js" inline></script>
  </body>
</html>
