<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130954281-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-130954281-1');
    </script>
    <%- include('../templates/meta'); %>
    <title>Sala Ón - Programación</title>
    <link rel="canonical" href="http://www.salaonbcn.com/programacion">
    <meta name="description" content="Toda la programación de nuestra sala. Aquí encontrarás nuestros eventos, obras, cursos, y mucho más.">
    <link rel="stylesheet" href="../css/programacion.css" inline>
</head>

<body>
    <%- include('../templates/navigation'); %>
    <header class="header">
        <h1 class="header__title">Programación</h1>
    </header>
    <main class="main u-footer-margin">
        <div class="events">
                <div class="event-group">
                    <%for (var event in events){%>
                        <article class="event" onmouseover="addClass(this)" onmouseout="removeClass(this)">
                            <h2 class="event__type"><%= events[event].type %></h2>
                            <div class="event__body">
                                <a href="#popup" class="event__link event__sinopsis"><%= events[event].more %></a>
                                <div class="event__poster">
                                    <img class="event__img" src="/img/<%= events[event].posterPath %>" alt="<%= events[event].title %>">
                                    <h2 class="event__title"><%= events[event].title %></h2>
                                </div>
                                <a href="<%= events[event].link %>" class="event__link" target="_blank"><%= events[event].action %></a>
                                <p class="event__date"><%= events[event].shortDate %></p>
                            </div>
                        </article>   
                    <%}%>
                </div>

                <!-- <div class="popup" id="one">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="one">Volver</a>
                        <a href="https://entradium.com/events/la-causa" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"La Causa"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Escrita por: Tomás Gaviro Ponce | Dirigida por: Cristina Sánchez Aguilar | Interpretada por: Clay Hernández</p>
                            <p class="popup__length">20 de Julio a las 21:30hs</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                        <p class="popup__description">Una mujer toma la decisión más importante de su vida, y decide grabarse para dejarle un testimonio a su marido… y una despedida.<br></p>
                    </div>
                </div>   -->


                <!-- <% for(var i=0; i < events.length; i++) {%>
                    <article class="event">
                            <h2 class="event__type">Teatro</h2>
                            <div class="event__body">
                                <a href="#one" class="event__link event__sinopsis">Descripción</a>
                                <div class="event__poster">
                                    <img class="event__img" src="/img/lacausa.png" alt="La Causa">
                                    <!-- <h2 class="event__title">Velvet2</h2> -->
                                <!-- </div>
                                <a href="https://entradium.com/events/la-causa" class="event__link" target="_blank">Comprar</a>
                                <p class="event__date">20 - Julio - 2019 (21:30)</p>
                            </div>
                        </article>
                <% } %> -->


            <!-- <div class="event-group">
                    <article class="event">
                            <h2 class="event__type">Teatro</h2>
                            <div class="event__body">
                                <a href="#one" class="event__link event__sinopsis">Descripción</a>
                                <div class="event__poster">
                                    <img class="event__img" src="/img/lacausa.png" alt="La Causa">
                                    <h2 class="event__title">Velvet2</h2>
                                </div>
                                <a href="https://entradium.com/events/la-causa" class="event__link" target="_blank">Comprar</a>
                                <p class="event__date">20 - Julio - 2019 (21:30)</p>
                            </div>
                        </article>
                        <div class="popup" id="one">
                            <div class="popup__nav">
                                <a href="#" class="popup__close popup__link" data-back="one">Volver</a>
                                <a href="https://entradium.com/events/la-causa" class="popup__buy popup__link" target="_blank">Comprar</a>
                            </div>
                            <div class="popup__content">
                                <h2 class="popup__title u-margin-bottom-small">"La Causa"</h2>
                                <div class="popup__details">
                                    <p class="popup__length">Escrita por: Tomás Gaviro Ponce | Dirigida por: Cristina Sánchez Aguilar | Interpretada por: Clay Hernández</p>
                                    <p class="popup__length">20 de Julio a las 21:30hs</p>
                                </div>
                                <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                                <p class="popup__description">Una mujer toma la decisión más importante de su vida, y decide grabarse para dejarle un testimonio a su marido… y una despedida.<br></p>
                            </div>
                        </div>
                    <article class="event">
                            <h2 class="event__type">Teatro</h2>
                            <div class="event__body">
                                <a href="#two" class="event__link event__sinopsis">Descripción</a>
                                <div class="event__poster">
                                    <img class="event__img" src="/img/apologia.png" alt="Apología">
                                    <h2 class="event__title">Velvet2</h2>
                                </div>
                                <a href="https://entradium.com/events/apologia" class="event__link" target="_blank">Comprar</a>
                                <p class="event__date">20 - Julio - 2019 (20:30)</p>
                            </div>
                        </article>
                        <div class="popup" id="two">
                            <div class="popup__nav">
                                <a href="#" class="popup__close popup__link" data-back="two">Volver</a>
                                <a href="https://entradium.com/events/apologia" class="popup__buy popup__link" target="_blank">Comprar</a>
                            </div>
                            <div class="popup__content">
                                <h2 class="popup__title u-margin-bottom-small">"Apología"</h2>
                                <div class="popup__details">
                                    <p class="popup__length">Escrita por: Tomás Gaviro Ponce | Dirigida por: Clay Hernández | Interpretada por: Carlos del Estal</p>
                                    <p class="popup__length">20 de Julio a las 20:30hs</p>
                                </div>
                                <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                                <p class="popup__description">Una comedia corta donde “Él” sale de su descanso eterno para sacar de las vidas aburridas, insulsas y consumistas a sus oradores.<br></p>
                            </div>
                        </div>
                    <article class="event">
                            <h2 class="event__type">Teatro</h2>
                            <div class="event__body">
                                <a href="#three" class="event__link event__sinopsis">Descripción</a>
                                <div class="event__poster">
                                    <img class="event__img" src="/img/elperdon.png" alt="Antes del desayuno">
                                    <h2 class="event__title">Velvet2</h2>
                                </div>
                                <a href="https://entradium.com/events/el-perdon" class="event__link" target="_blank">Comprar</a>
                                <p class="event__date">19 - Julio - 2019 (21:30)</p>
                            </div>
                        </article>
                        <div class="popup" id="three">
                            <div class="popup__nav">
                                <a href="#" class="popup__close popup__link" data-back="three">Volver</a>
                                <a href="https://entradium.com/events/el-perdon" class="popup__buy popup__link" target="_blank">Comprar</a>
                            </div>
                            <div class="popup__content">
                                <h2 class="popup__title u-margin-bottom-small">"El Perdón"</h2>
                                <div class="popup__details">
                                    <p class="popup__length">Escrita por: Tomás Gaviro Ponce | Dirigida por: Cristina Sánchez Aguilar | Interpretada por: Carlos del Estal</p>
                                    <p class="popup__length">19 de Julio a las 21:30hs</p>
                                </div>
                                <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                                <p class="popup__description">Obra en un acto para un sólo actor. Un hombre enfrentado a sus miedos, a sus angustias y a sus pesares, un hombre enfrentado al abismo de la pérdida y de la vida en la pérdida.<br></p>
                            </div>
                        </div>
                        <article class="event">
                                <h2 class="event__type">Teatro</h2>
                                <div class="event__body">
                                    <a href="#four" class="event__link event__sinopsis">Descripción</a>
                                    <div class="event__poster">
                                        <img class="event__img" src="/img/antesdeldesayuno.png" alt="Antes del desayuno">
                                        <h2 class="event__title">Velvet2</h2>
                                    </div>
                                    <a href="https://entradium.com/events/antes-del-desayuno" class="event__link" target="_blank">Comprar</a>
                                    <p class="event__date">19 - Julio - 2019 (20:30)</p>
                                </div>
                            </article>
                            <div class="popup" id="four">
                                <div class="popup__nav">
                                    <a href="#" class="popup__close popup__link" data-back="four">Volver</a>
                                    <a href="https://entradium.com/events/antes-del-desayuno" class="popup__buy popup__link" target="_blank">Comprar</a>
                                </div>
                                <div class="popup__content">
                                    <h2 class="popup__title u-margin-bottom-small">"Antes del desayuno"</h2>
                                    <div class="popup__details">
                                        <p class="popup__length">Versión e interpretación: Clay Hernández</p>
                                            <p class="popup__length">19 de Julio a las 20:30hs</p>
                                    </div>
                                    <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                                    <p class="popup__description">Una pieza de Teatro corta, escrita por Eugene O'Neill en 1916 y que sigue hoy más vigente que nunca, pues trata sobre el desamor en la decadencia del ser humano y el desenlace mortal de una relación estéril.<br></p>
                                </div>
                            </div>
                <article class="event">
                    <h2 class="event__type">Curso</h2>
                    <div class="event__body">
                        <a href="#five" class="event__link event__sinopsis">Descripción</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/candela.jpg" alt="Curso de Interpretación">
                        </div>

                        <a href="mailto:cursocanton@gmail.com?Subject=Hola%20Candela%2C%20estoy%20interesadx%20en%20tu%20curso"
                            class="event__link" target="_blank">Contactar</a>
                        <p class="event__date">25 - 01 - 2019</p>
                    </div>
                </article>
                <div class="popup" id="five">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="five">Volver</a>
                        <a href="mailto:cursocanton@gmail.com?Subject=Hola%20Candela%2C%20estoy%20interesadx%20en%20tu%20curso"
                            class="popup__buy popup__link" target="_blank">Contactar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"Curso de Interpretación"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Candela Antón, actriz de Merlí</p>
                            <p class="popup__length">Lunes y Miércoles 18:00hs a 20:00hs | Sábados 11:00hs a 13:00hs</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                        <p class="popup__description">Se trata de un curso enfocado a aquellos que, por pasión o por
                            ánimo de dedicarse a la profesión, quieran adquirir conocimientos sobre el trabajo y la
                            vida del actor.<br>
                            El objetivo concreto del curso es que los alumnos desarrollen un pensamiento crítico
                            respecto a su trabajo, y que adquieran las herramientas necesarias para hacer frente a
                            todos los retos que puedan encontrarse en el ejercicio del arte y la profesión actorales.<br>
                            Cada clase estará enfocada hacia un tema concreto, siendo estos: Emoción, Expresión y
                            Creación y Dramaturgia. Cada una de las 4 clases de cada mes estará enfocada a uno de estos
                            4 temas.<br>
                            Los movimientos interiores, los movimientos del interior al exterior, y la fuerza creativa.<br>
                            “La analogía del actor como músico con su instrumento” Los alumnos deben conocer su
                            instrumento, aprender a afinarlo para extraer de él las notas necesarias para interpretar
                            cualquier pieza, ser capaces de improvisar y crear in situ mediante las herramientas de que
                            disponen, para que, llegado el momento, puedan comprender el lenguaje musical y la forma de
                            las piezas que se les presenten.”<br>
                            -Emoción: En esta clase trabajaremos los procesos internos y emocionales de cada uno, a
                            través de ejercicios de introspección y descubrimiento. Experimentaremos los límites de
                            nuestras emociones particulares.<br>
                            -Expresión: En esta segunda sesión, trabajaremos las diversas formas de expresar las
                            emociones sentidas, la expresión corporal, y la plasmación de todas las ideas que podamos
                            concebir, a partir de ejercicios de conocimiento del propio cuerpo, de los mecanismos de la
                            expresión y de identificación de las expresiones ajenas.<br>
                            -Creación: Aquí, desarrollaremos la capacidad de improvisar a través de la imaginación y de
                            las herramientas adquiridas en Emoción y Expresión.<br>
                            -Dramaturgia: Se harán dos muestras del trabajo hecho durante el curso, ambas en un teatro
                            profesional (aún por determinar), una entre finales de enero y principios de febrero, y
                            otra, de creación propia de los alumnos a final de curso entre finales de junio y
                            principios de julio.<br>
                            Durante todo el curso habrá diversas masterclass de profesionales del sector teatral, aún
                            por cerrar debido a disponibilidad de los ponientes.<br></p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Teatro</h2>
                    <div class="event__body">
                        <a href="#six" class="event__link event__sinopsis">Descripción</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/lacoach.jpeg" alt="La Coach">
                            <h2 class="event__title">La Coach</h2>
                        </div>
                        <a href="https://entradium.com/es/events/la-coach-la-primera-serie-en-vivo" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">20, 27 y 29 - Junio - 2019 (20:30)</p>
                    </div>
                </article>
                <div class="popup" id="six">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="six">Volver</a>
                        <a href="https://entradium.com/es/events/la-coach-la-primera-serie-en-vivo" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"La Coach"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Escrita y dirigida por: Elia Tabuenca | Con: Rut Blasco, Lara Vacas y Laura Millaruelo</p>
                                <p class="popup__length">Jueves 20 y 27 de Junio, y Sábado 29 a las 20:30hs</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                        <p class="popup__description">Desde Laberinto Producciones y la Compañía LetrasConVoz presentamos la primera SERIE EN VIVO que se hace en Barcelona: La Coach.<br>
                            Se trata de un nuevo concepto teatral en el que los espectadores podrán disfrutar de la primera serie que se representa en vivo y en directo. Una mezcla que une el teatro con el universo de las series para conseguir “enganchar” a los más seriéfilos al mundo del teatro.<br>
                            Cada temporada se compone de 4 capítulos de aproximadamente 30 minutos y, en total, “La Coach” está formada por 3 temporadas. Un total de 12 episodios durante los que conoceremos mejor a los personajes y terminaremos viviendo sus vidas como si fueran las nuestras.<br>
                            “La Coach” nos presenta a Amelia, una chica que sufre una crisis personal y decide ir a ver a una coach. Pero en cuanto llegue a la consulta conocerá a una persona que es muy, pero que MUY, peculiar…<br>
                            Una serie protagonizada por tres mujeres que relatarán los problemas cotidianos a los que, muchos de nosotros, nos enfrentamos a diario.<br>
                            Humor, risas y sorpresas es lo que encontrarás en “La Coach”<br></p>
                    </div>
                </div>
                <article class="event__empty"></article>
            </div>
        </div> -->
    </main>
    <%- include('../templates/footer'); %>
    <script src="../js/programacion.bundle.js" inline></script>
</body>

</html>