<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130954281-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-130954281-1');
    </script>
    <%- include('../templates/meta'); %>
    <title>Sala Ón - Programación</title>
    <link rel="canonical" href="http://www.salaonbcn.com/programacion">
    <meta name="description" content="Toda la programación de nuestra sala. Aquí encontrarás nuestros eventos, obras, cursos, y mucho más.">
    <link rel="stylesheet" href="../css/programacion.css" inline>
</head>

<body>
        <script src="../js/programacion.bundle.js" inline></script>
    <%- include('../templates/navigation'); %>
    <header class="header">
        <h1 class="header__title">Programación</h1>
    </header>
    <main class="main u-footer-margin">
        <div class="events">
            <div class="event-group">
                <%for (var event in events){%>
                    <article id="" class="event">
                        <h2 class="event__type"><%= events[event].type %></h2>
                        <div class="event__body">
                            <a href="#<%= events[event]._id %>" class="event__link event__sinopsis" onClick="doSomeAction('<%= events[event] %>')"><%= events[event].more %></a>
                            <div class="event__poster">
                                <img class="event__img" src="/img/<%= events[event].posterPath %>" alt="<%= events[event].title %>">
                                <h2 class="event__title"><%= events[event].title %></h2>
                            </div>
                            <a href="<%= events[event].link %>" class="event__link" target="_blank"><%= events[event].action %></a>
                            <p class="event__date"><%= events[event].shortDate %></p>
                        </div>
                    </article>
                    <div class="popup" id="<%= events[event]._id %>" style="background-image: url('/img/<%= events[event].backgroundPath %>')">
                        <div class="popup__nav">
                            <a href="#" class="popup__close popup__link" data-back="<%= events[event]._id %>">Volver</a>
                            <a href="<%= events[event].link %>" class="popup__buy popup__link" target="_blank"><%= events[event].action %></a>
                        </div>
                        <div class="popup__content">
                            <h2 class="popup__title u-margin-bottom-small">"<%= events[event].title %>"</h2>
                            <div class="popup__details">
                                <p class="popup__length">
                                    <%if (events[event].authors) {%><%= events[event].authors %><%}%>
                                    <%if (events[event].directors) {%> | <%= events[event].directors %><%}%>
                                    <%if (events[event].cast) {%> | <%= events[event].cast %><%}%>
                                </p>
                                <p class="popup__length"><%= events[event].longDate %></p>
                            </div>
                            <h3 class="popup__subtitle u-margin-top-normal"><%= events[event].more %></h3>
                            <p class="popup__description"><%= events[event].description %></p>
                        </div>
                    </div>
                <%}%>
            </div>
    </main>
    <%- include('../templates/footer'); %>
    <script src="../js/programacion.bundle.js" inline></script>
</body>

</html>